.navbar{
    display: flex;
    background-color: rgb(67, 67, 70);
}

.nav-list{
    display: flex;/*Теперь они идут вряд ровненько*/
}

.nav-list a{/*Обращение к ссылкам*/
    display: block;/*Это для настройки под кнопки*/
    padding: 1em;
    text-decoration: none;/*Убираем ниждее подчёркивание у ссылок*/
    color: white;
}

/*Псевдо класс hower*/
/*Позволяет изменить css стиль элемента когда на него наведён курсор*/
/*На телефоне срабатывает при нажатии на кнопку(Меняеться цвет)*/
/*Псевдо классы не нужно указывать в Html файле; записываються через двоеточие и без пробелов */
.nav-list a:hover{
    background-color: rgb(108, 108, 108);
}

.nav-btn{/*Тут мы настраиваем меню боковое, которое открывается через кнопку*/
    display: none ;/*Пока сайт открыт на компе эту кнопку не видно*/
}


@media (max-width: 750px){
    /*Когда открываем сайт на телефоне или планшете то врхняя панель пропадает и переходит в боковое меню*/
    .nav-btn{/*Настройка кнопки бургера*/
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;/*Из-за особенностей этой кнопки у неё сверху небольшой отступ которв=ый мы убираем*/
        border: none;/*Минус рамка*/
        background-color: rgb(67, 67, 70); /*Цвет кнопки*/
        color:white ;/*Цвет иконки внутри, тип полоски*/
        display: block;
        cursor: pointer;/*Это штука для Изменения курсора на указатель. Тип можно нажать*/
    }
    .nav-list{
        display: none;
    }

    .nav-btn:hover{
        background-color: rgb(108, 108, 108);
    }

    /*Опять же обращаемся к псевдо тегу hover*/
    /*То есть при наведении на курсором на div с классом drop*/
    .drop:hover .nav-list{
        display: block;/*Теперь распологаем менюшку в столбик*/
        position: absolute;
        right: 1px;/*Из-за грубого смещения кнопки слева открывающее меню поплыло впрво за экран поэтому мы уравниваем его*/

        /*Выдёргивает div из родителького контейнера(основного) и распологает его авше по иерархии*/
        /*top: 100px ;Эти два чип и дейл top и left применяюстся только с position: absolute или relative
        left: 100px;*/
        background-color: rgb(108, 108, 108);
    }

    .navbar{
        justify-content: space-between;/*Размещаем кнопку бургер слева тюк справа будет логотип*/
    }


}


