*{ /*Слёту для всего сайта убираем границы*/
    margin: 0;
    padding: 0;
}


.conteiner{/*Фунция reapeat(3(кол-во повторений), 1fr(то, что мы будем повторять))*/
    display: grid; /*Сетка*/
    grid-template-columns:repeat(3, 1fr) ;/*Тут мы распределяем место между фото*/
    /*поэтому мы испоьзуем 3 значения fr и цифра 1 перед ними это пробелы между фото*/
    /*Если ещё проще, то fr это доли. 1fr 1fr 1fr - деление на 3 равные доли*/
    /*Т.е мы хотим чтобы было 3 столбика с фото*/
    grid-template-rows: repeat(3);/*4 строки*/
}

.card{
    margin: 1.5em;
}

.card>a>img{
    width: 100%;/*Толщина картинки(размер)*/
}

.card>.info{
    text-align: center;
}

@media (max-width: 1000px) {/*Если ширина экрана будет меньше чем 800px то выполняеться следуещее условие*/
    .conteiner{
        grid-template-columns:repeat(2, 1fr);/*Количество столбцов*/
        grid-template-rows: repeat(5);/*Количество колонок вряд*/
    }

}    



@media (max-width: 600px) {/*Это теперь тип для телефонов. Где 800px- для планшетов*/
    .conteiner{
        grid-template-columns:repeat(1, 1fr);/*Количество столбцов*/
        grid-template-rows: repeat(9);/*Количество колонок вряд*/
    }

    .card{
        margin-inline: 0;/*Тут иы убираем границы по бокам*/
    }

} 